@property --rotate {
            syntax: "<angle>";
            initial-value: 132deg;
            inherits: false;
        }

:root {
    --login-container-height: 40vh;
    --login-container-width: 40vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.login-container {
    background: whitesmoke;
    width: var(--login-container-width);
    height: var(--login-container-height);
    padding: 20px;
    position: relative;
    border-radius: 20px;
    text-align: center;
}


.login-container::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    filter: blur(calc(var(--login-container-height) / 6));
    background-image: linear-gradient(
            var(--rotate)
            , #5ddcff, #3c67e3 43%, #4e00c2);
            opacity: 1;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.login-container button {
    background-color: #3c67e3;
    width: 100%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: large;
    transition: all 1s;
}

.login-container button:hover {
    background-color: #4e00c2;
    transition: all 1s;
}

.login-container form {
    margin-inline: 20%;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: large;
    text-align: center;
}