{% extends 'base.html' %}

{% block extra_head %}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="static/scripts/main.js"></script>
{% endblock %}
{% block content%}
  <div class="main">
      <div class="tile" id="database-list">
          <h2 id="host"></h2>
          <h3>Databases<img id="refresh-databases" src="static/icons/refresh.png" alt="refresh"></h3>
          <div id="databases"></div>
      </div>
      
      <div class="tile" id="data-table">
        <h2 id="database-name">Database</h2>
        <div id="table-container">
          <p style="margin-left: 40%; margin-top: 20%;">Select database</p>
        </div>
      </div>
    </div>
{% endblock %}
